/.idea
/.zed

/target
/tests
/k8s
/docker-volumes
docker-compose*.yaml

.DS_Store
.env
.git/
.gitignore

justfile
README.md
*.log

# Coverage / llvm-cov
llvm-cov/
**/coverage/
**/*.profraw
**/*.profdata
